
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin-top: 100px; /* Mueve el contenedor más abajo */
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem; /* Tamaño más grande */
    font-weight: bold; /* Hacerla más gruesa */
    margin-bottom: 30px;
    color: #070707;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #8aaed4;
    color: #fff;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="number"] {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #8aaed4;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#prediction {
    font-weight: bold;
    font-size: 1.2rem;
    color: #030303;
    display: block;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    table th, table td {
        font-size: 0.9rem;
        padding: 8px;
    }

    input[type="number"] {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        font-size: 0.9rem;
    }
}
