
<!-- templates/index.html -->
{% extends 'index.html' %}

{% load static %}

{% block content %}
<head>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<div class="espacio" style="padding-top:0px"></div>
    <!-- Team Section -->
    <section id="team" class="team section" style="padding-top:0px">

        <!-- Section Title -->
        <div class="team" style="padding-left: 10%; padding-end:5px;" data-aos="fade-up">
          <h2>Team</h2>
          <p>Miembros del equipo</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <img src="../static/img/team/team-2.jpg" class="img-fluid" alt="">
                <h4>Milca Roxana Toledo</h4>
                <span>Design manager</span>
                
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <img src="../static/img/team/team-3.jpg" class="img-fluid" alt="">
                <h4>William Alexander Macias</h4>
                <span>Database manager</span>
                
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <img src="../static/img/team/team-4.jpg" class="img-fluid" alt="">
                <h4>Jose Alejandro Gomez</h4>
                <span>Programming manager</span>
                
              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <img src="../static/img/team/team-1.jpg" class="img-fluid" alt="">
                <h4>Wilmer Samuel Briones</h4>
                <span>Programmer</span>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <img src="../static/img/team/team-5.jpg" class="img-fluid" alt="">
                <h4>Ariana Michelle Zuñiga</h4>
                <span>Web designer </span>
                
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- /Team Section -->
      <style>
        .espacio {
            padding: 0.5cm;
        }
      </style>

{% endblock %}
